<!DOCTYPE html>

<title>New ArticlePhoto</title>

{% block body %}
    <h1>Create new ArticlePhoto</h1>

    {{ include('article_photo/_form.html.twig') }}

    <a href="{{ path('article_photo_index') }}">back to list</a>
{% endblock %}
