footer
{
    margin-top: 5em;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    text-decoration: none;
    color: rgb(146, 146, 146);
}
body
{
    padding-top: 4.5em !important;
}