<div class="col-12">
    <div class="col-4 pl-5 ml-5">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-success">{{ button_label|default('Zapisz') }}</button>
    {{ form_end(form) }}
    </div>
</div>