{% extends 'admin/admin-main-page.html.twig'%}

{% block title %}<title>Nowa Kategoria</title> {% endblock %}
{% block breadcrumbs %} 
    <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Start</a>
          </li>
          <li class="breadcrumb-item" id="jquery-bread">
            <a  href="{{path("category_index")}}" >
                Kategorie
            </a>
          </li>
          <li class="breadcrumb-item active">Nowa</li>
        </ol>
{% endblock %}

{% block pageContents %}

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="ml-5 pl-5 pt-3">Powrót do listy</a>
{% endblock %}
