   
   <!-- Elastic searching XS -->
   <div class="col-12 d-lg-none scalable-searching ">
              
                    <div class="input-group pt-2 pb-2 pb-lg-0">
                      
                        <input type="text" class="form-control mr-1 mb-2" placeholder="Wpisz interesującą Cię frazę...">
                          <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button">Szukaj</button>
                        </span>
                    </div>

                        <div class="col-12 category category-1 text-center" >
                            <ul class="list-unstyled pb-2  mb-0" >
                              <li > 
                                <a href="articles.html">Artykuły</a>
                              </li>
                              <li >
                                <a href="videos.html">Wideo</a>
                              </li>
                              <li>
                                <a href="photos.html">Zdjęcia</a>
                              </li>
                              <li>
                                <a href="sources.html">Źródła</a>
                              </li>
                              
                            </ul>
                          </div>

                        <div class="col-12  category category-2  text-center" >
                            <ul class="list-unstyled pb-2  mb-0" >
                              <li > 
                                <a href="#">Ludzie</a>
                              </li>
                              <li >
                                <a href="#">Miejsca</a>
                              </li>
                              <li>
                                <a href="#">Wydarzenia</a>
                              </li>
                              <li>
                                  <a href="#">...</a>
                                </li>
                            </ul>
                          </div>
                        
                          <div class="col-12 category category-3  text-center" >
                              <ul class="list-unstyled pb-2  mb-0" >
                                <li > 
                                  <a href="#">1850-1900</a>
                                </li>
                                <li >
                                  <a href="#">1900-1918</a>
                                </li>
                                <li>
                                  <a href="#">1918-1939</a>
                                </li>
                                <li>
                                    <a href="#">1939-1945</a>
                                  </li>
                                  <li>
                                      <a href="#">...</a>
                                    </li>
                              </ul>
                            </div>

                            <div class="col-12 category category-4  text-center" >
                                <ul class="list-unstyled pb-2  mb-0" >
                                  <li > 
                                    <a href="#">Lubliniec</a>
                                  </li>
                                  <li >
                                    <a href="#">Kochcice</a>
                                  </li>
                                  <li>
                                    <a href="#">Droniowiczki</a>
                                  </li>
                                  <li>
                                      <a href="#">Kalety</a>
                                    </li>
                                    <li>
                                        <a href="#">...</a>
                                      </li>
                                </ul>
                              </div>

        </div>

    <!-- End Od Elastic Searching XS -->