
<!-- Elastic Search Lg -->

<div class="col-lg-4 widgets">

        <!-- Search Widget -->
        <div class="card my-4  d-none d-lg-block">
          <h5 class="card-header">Szukaj</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Wpisz fraze...">
              <span class="input-group-btn ml-1">
                <button class="btn btn-secondary" type="button">Szukaj</button>
              </span>
            </div>

          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4 d-none d-lg-block ">
          <h5 class="card-header">Miejscowość</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                  <ul class="list-unstyled mb-0" >
                      <li > 
                        <a href="#">Lubliniec</a>
                      </li>
                      <li >
                        <a href="#">Kochcice</a>
                      </li>
                      <li>
                        <a href="#">Droniowiczki</a>
                      </li>
                      <li>
                          <a href="#">Kalety</a>
                        </li>
                        <li>
                            <a href="#">Steblów</a>
                          </li>
                    </ul>
              </div>
                  <div class="col-lg-6 ">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">Kochanowica</a>
                      </li>
                      <li>
                        <a href="#">Jawornica</a>
                      </li>
                      <li>
                        <a href="#">...</a>
                      </li>
                    </ul>
                  </div>
            </div>
          </div>
        </div>
        <div class="card my-4 d-none d-lg-block">
            <h5 class="card-header">Kategoria</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0" >
                        <li > 
                          <a href="#">Ludzie</a>
                        </li>
                        <li >
                          <a href="#">Miejsca</a>
                        </li>
                        <li>
                          <a href="#">Wydarzenia</a>
                        </li>
                        <li>
                            <a href="#">Postacie</a>
                          </li>
                          
                      </ul>
                </div>
                    <div class="col-lg-6">
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="#">Dokumenty</a>
                        </li>
                        <li>
                          <a href="#">...</a>
                        </li>
                        <li>
                          <a href="#">...</a>
                        </li>
                      </ul>
                    </div>
              </div>
            </div>
          </div>
          <div class="card my-4 d-none d-lg-block ">
              <h5 class="card-header">Okres</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                      <ul class="list-unstyled mb-0" >
                          <li > 
                            <a href="#">1272-1300</a>
                          </li>
                          <li >
                            <a href="#">1300-1350</a>
                          </li>
                          <li>
                            <a href="#">1300-1400</a>
                          </li>
                          <li>
                              <a href="#">1400-1500</a>
                            </li>
                            
                        </ul>
                  </div>
                      <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                          <li>
                            <a href="#">1500-1600</a>
                          </li>
                          <li>
                            <a href="#">1600-1700</a>
                          </li>
                          <li>
                            <a href="#">...</a>
                          </li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>

      </div>

      <!-- End of ELG -->