{% extends "pages/admin-page/admin-main-page.html.twig"%}

{% block breadcrumbs %}
 <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{url("admin")}}">Start</a>
          </li>
          <li class="breadcrumb-item" id="jquery-bread">
            Zasoby
          </li>
          <li class="breadcrumb-item" id="jquery-bread">
            <a href="{{url("articles-table")}}">Edycja Artykułu</a>
          </li>
          <li class="breadcrumb-item active" id="jquery-bread">Dodawanie Nowego Artykułu</li>
        </ol>
{% endblock %}

              
{% block pageContents %}

     <div class="col-12">
                <h1 class="text-center mb-4">Dodaj nowy artykuł ...</h1>
              </div>
   
                       <div class="col-8 offset-2">
                             <form action="php-apps\send.php" method="POST" class="ajax">
                                <div class="form-group ">
                              <input type="text" name="name" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Imię i Nazwisko Autora">
                              <input type="text" name="name" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Tytuł">
                              <input type="text" name="name" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Kategoria">
                              <input type="text" name="name" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Temat">
                              Dokładna lub orientacyjna data :<input type="date" name="name" class="form-control mb-2" id="exampleFormControlInput1" >
                             
                                </div>
                             </form>
                          </div>
                        

                          <div class="col-8 offset-2">
                            <form action="php-apps\send.php" method="POST" class="ajax">
                              <div class="form-group pl-5 text-center">

                                <div class="mb-4">Zdjęcie 1: <input type="file" name="name" value="Dodaj Zdjęcie"></div> 

                                <div class="mb-4">Zdjęcie 2: <input type="file" name="name" value="Dodaj Zdjęcie"></div>

                                <div class="mb-4"> Zdjęcie 3: <input type="file" name="name" value="Dodaj Zdjęcie"></div>

                                <div class="col-8 offset-2">
                                <label class="container-checkbox text-left">Publikuj po dodaniu
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                              <button class="btn btn-primary" href="#">Wyślij </button>
                             </div>
                             
                          </form>  
                      </div>
                      
                      <div class="col-12">
                        <h2 class="text-center my-3">Treść: </h2>
                          <form action="php-apps\send.php" method="POST" class="ajax">
                            <div class="form-group pl-5">

                          
                                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="20" placeholder="Treść ... "></textarea>
                              
                           </div>
                        </form>  
                    </div>
                           



  {% endblock %}