<!-- Patrons Main Section -->

<div class="col-lg-4 col-md-6 col-md-6 pt-3">
                <!-- Patron -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                    <div class="card-body">
                    <div class="text-justify">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                        <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                    </div>
                    <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-3">
                <!-- Patron -->
                <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                <div class="card-body">
                    <div class="text-justify">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                    <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-3">
                <!-- Patron -->
                <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                <div class="card-body">
                    <div class="text-justify">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                    <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-3">
                <!-- Patron -->
                <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                <div class="card-body">
                    <div class="text-justify">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                    <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-3">
                <!-- Patron -->
                <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                <div class="card-body">
                    <div class="text-justify">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                    <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-3 ">
                <!-- Patron -->
                <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/250x125" alt="Card image cap">
                <div class="card-body">
                    <div class="text-justify">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    </div>
                    <div class="text-center pt-3 ">
                    <a href="#" class="btn btn-primary">Zobacz stronę patrona</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                        Patron od January 1, 2017 
                </div>
                </div>
            </div>
        
    <!--End of Patrons Main Section -->