 
 <!-- Sources Main Section -->
 <div class="col-12 d-none d-md-block">
        <!--Sources Table-->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Autor</th>
              <th scope="col">Tytuł</th>
              <th scope="col">Miejsce Wydania</th>
              <th scope="col">Wydawca</th>
              <th scope="col">Rok Wydania</th>
              <th scope="col">ISBN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Warszawa</td>
              <td>Wydawnictwo Naukowe PWN</td>
              <td>1954</td>
              <td>ISBN 83-01-08836-4</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Warszawa</td>
                <td>Wydawnictwo Naukowe PWN</td>
                <td>1954</td>
                <td>ISBN 83-01-08836-4</td>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Warszawa</td>
                  <td>Wydawnictwo Naukowe PWN</td>
                  <td>1954</td>
                  <td>ISBN 83-01-08836-4</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Warszawa</td>
                    <td>Wydawnictwo Naukowe PWN</td>
                    <td>1954</td>
                    <td>ISBN 83-01-08836-4</td>
                  </tr>
                  <tr>
                      <th scope="row">5</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Warszawa</td>
                      <td>Wydawnictwo Naukowe PWN</td>
                      <td>1954</td>
                      <td>ISBN 83-01-08836-4</td>
                    </tr>

                    <tr>
                        <th scope="row">6</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Warszawa</td>
                        <td>Wydawnictwo Naukowe PWN</td>
                        <td>1954</td>
                        <td>ISBN 83-01-08836-4</td>
                      </tr>
          </tbody>
        </table>
      </div>

      <!--Scalable List insted of table-->
  

        <div class="col-12 text-center d-block d-md-none pb-3 ">

            <small>1 - Autor, 2 - Tytuł, 3 - Miejsce Wydania, 4 - Wydawnictwo, 5 - Rok Wydania,  6 - ISBN</small>

            <ul class="list-group py-2">
                <li class="list-group-item active">Pozycja nr. 21</li>
                <li class="list-group-item">1. Mark</li>
                <li class="list-group-item list-group-item-secondary">2. Otto</li>
                <li class="list-group-item">3. Warszawa</li>
                <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                <li class="list-group-item">5. 1954</li>
                <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
              </ul>
              
              <ul class="list-group py-2">
                  <li class="list-group-item active">Pozycja nr. 21</li>
                  <li class="list-group-item">1. Mark</li>
                  <li class="list-group-item list-group-item-secondary">2. Otto</li>
                  <li class="list-group-item">3. Warszawa</li>
                  <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                  <li class="list-group-item">5. 1954</li>
                  <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
                </ul>
              
                <ul class="list-group py-2">
                    <li class="list-group-item active">Pozycja nr. 21</li>
                    <li class="list-group-item">1. Mark</li>
                    <li class="list-group-item list-group-item-secondary">2. Otto</li>
                    <li class="list-group-item">3. Warszawa</li>
                    <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                    <li class="list-group-item">5. 1954</li>
                    <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
                  </ul>
              
                  <ul class="list-group py-2">
                      <li class="list-group-item active">Pozycja nr. 21</li>
                      <li class="list-group-item">1. Mark</li>
                      <li class="list-group-item list-group-item-secondary">2. Otto</li>
                      <li class="list-group-item">3. Warszawa</li>
                      <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                      <li class="list-group-item">5. 1954</li>
                      <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
                    </ul>
                    
                    <ul class="list-group py-2">
                        <li class="list-group-item active">Pozycja nr. 21</li>
                        <li class="list-group-item">1. Mark</li>
                        <li class="list-group-item list-group-item-secondary">2. Otto</li>
                        <li class="list-group-item">3. Warszawa</li>
                        <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                        <li class="list-group-item">5. 1954</li>
                        <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
                      </ul>
              
                      <ul class="list-group py-2">
                          <li class="list-group-item active">Pozycja nr. 21</li>
                          <li class="list-group-item">1. Mark</li>
                          <li class="list-group-item list-group-item-secondary">2. Otto</li>
                          <li class="list-group-item">3. Warszawa</li>
                          <li class="list-group-item list-group-item-secondary">4. Wydawnictwo Naukowe PWN</li>
                          <li class="list-group-item">5. 1954</li>
                          <li class="list-group-item list-group-item-secondary">6. ISBN 83-01-08836-4</li>
                        </ul>

        </div>
         <!-- End of Sources Main Section -->