  <section id="terms">
            <div class="col-8 offset-2 text-justify">
                <div class="text-center">
                    <!-- Title -->
                    <h1 class="mt-4">Regulamin </h1>
                </div>
            
   
            <hr>

            <h2 class="text-center">Postanowanienia ogólne</h2>
            <p>
                2.11.

Użytkownikowi nie wolno korzystać z Kont innych Użytkowników oraz udostępniać Konta innym osobom, z wyjątkiem przypadków:

a. udostępnienia Konta Firma osobom należycie umocowanym przez Użytkownika do działania w jego imieniu,

b. udostępnienia Konta Zwykłego małżonkowi Użytkownika poprzez umieszczenie danych małżonka Użytkownika w odpowiednim formularzu. Małżonkowie korzystający z Konta ponoszą odpowiedzialność solidarną za działania podejmowane w ramach tego Konta.


            </p>
           <h2 class="text-center" >coś tam 1</h2>
           <p>
          2.11.

Użytkownikowi nie wolno korzystać z Kont innych Użytkowników oraz udostępniać Konta innym osobom, z wyjątkiem przypadków:

a. udostępnienia Konta Firma osobom należycie umocowanym przez Użytkownika do działania w jego imieniu,

b. udostępnienia Konta Zwykłego małżonkowi Użytkownika poprzez umieszczenie danych małżonka Użytkownika w odpowiednim formularzu. Małżonkowie korzystający z Konta ponoszą odpowiedzialność solidarną za działania podejmowane w ramach tego Konta.



           </p>
            <h2 class="text-center">Coś tam 2</h2>
            <p>
2.11.

Użytkownikowi nie wolno korzystać z Kont innych Użytkowników oraz udostępniać Konta innym osobom, z wyjątkiem przypadków:

a. udostępnienia Konta Firma osobom należycie umocowanym przez Użytkownika do działania w jego imieniu,

b. udostępnienia Konta Zwykłego małżonkowi Użytkownika poprzez umieszczenie danych małżonka Użytkownika w odpowiednim formularzu. Małżonkowie korzystający z Konta ponoszą odpowiedzialność solidarną za działania podejmowane w ramach tego Konta.






            </p>
            <hr>

          </div>
        </section> 

